h1{
    text-decoration: underline;
}
.page_header{
    background-color: grey;
    border-radius: 10px;
}
.img_form_div{
    display: grid;
}

.input_div{
    display:grid;
    margin-bottom: 10px;
    margin:auto;
    border-radius: 5px;
    background-color: rgba(80, 80, 80, 0.3);
}